<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Os caras</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1 class="title">
        <a href="" class="show-all">ver todos</a>
        pagina dos cara
        <a href="createPersonForm.html" class="create-new-person">criar novo post</a>
    </h1>

    <form class="search" action="" method="get">
        <input type="text" placeholder="Insira o titulo do post..." id="personName">
        <button id="bt_search">buscar</button>
    </form>

    <div class="list-person">

    </div>
</body>
<script src="script.js"></script>
</html>