<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Os caras</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1 class="title">
        <a href="" class="show-all">ver todos</a>
        pagina dos cara
        <a href="createPersonForm.html" class="create-new-person">criar novo post</a>
    </h1>

    <form class="search" action="" method="get">
        <input type="text" placeholder="insira o nome do cara" id="personName">
        <button id="bt_search">buscar</button>
    </form>

    <div class="list-person">

<!--        <div class="person">-->
<!--            <h2 id="name">Sim</h2>-->
<!--            <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA3W2Qvg0vDcGd3Ed2zGm_r_G89FkFods8SQ&s" alt="">-->
<!--            <p id="description">Não</p>-->
<!--        </div>-->

<!--        <div class="person">-->
<!--            <h2 id="name">Sim</h2>-->
<!--            <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA3W2Qvg0vDcGd3Ed2zGm_r_G89FkFods8SQ&s" alt="">-->
<!--            <p id="description">Não</p>-->
<!--        </div>-->

<!--        <div class="person">-->
<!--            <h2 id="name">Sim</h2>-->
<!--            <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA3W2Qvg0vDcGd3Ed2zGm_r_G89FkFods8SQ&s" alt="">-->
<!--            <p id="description">Não</p>-->
<!--        </div>-->

<!--        <div class="person">-->
<!--            <h2 id="name">Sim</h2>-->
<!--            <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA3W2Qvg0vDcGd3Ed2zGm_r_G89FkFods8SQ&s" alt="">-->
<!--            <p id="description">Não</p>-->
<!--        </div>-->

<!--        <div class="person">-->
<!--            <h2 id="name">Sim</h2>-->
<!--            <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA3W2Qvg0vDcGd3Ed2zGm_r_G89FkFods8SQ&s" alt="">-->
<!--            <p id="description">Não</p>-->
<!--        </div>-->

    </div>
</body>
<script src="script.js"></script>
</html>