<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Create Person</title>
    <link rel="stylesheet" href="../styles/post.css">
</head>
<body>

    <form class="create-person">

        <label>Insira o título do post</label>
        <input type="text" id="name" placeholder="digite o titulo" >
        <label>Insira o link da imagem</label>
        <input type="text" id="image" placeholder="digite o link" >
        <label>Insira a descrição da postagem</label>
        <input type="text" id="description" placeholder="descreva aqui..." >
        <button type="submit" id="bt_create_post">criar post</button>

    </form>

</body>

    <script src="../scripts/post.js"></script>

</html>