<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Memory Box</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

    <h1 class="title">
        <a href="" class="show-all">Ver todas</a>
        Caixa de Memórias
        <a href="createPersonForm.html" class="create-new-person">Nova Memória</a>
    </h1>

    <form class="search" action="" method="get">
        <input type="text" placeholder="Insira o titulo da memória..." id="personName">
        <button id="bt_search">buscar</button>
    </form>

    <div class="list-person">

    </div>
</body>
<script src="../scripts/script.js"></script>
</html>